<div class="row mb-1 mt-2">
  <div class="col-md-3">
    <%= search_form_for @q, :class => "collapse", :id => "dishes_filters" do |f| %>
      <p class="lead">Narrow results:</p>

        <div class="form-group">
          <%= f.label :name_cont, "Name contains" %>
          <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
        </div>
        
        <div class="form-group">
        <label for="q_cuisine_id_eq_any">Cuisine</label>
          <% Cuisine.all.each do |cuisine| %></br>
           <label>
            <li class="list-unstyled">
               <%= check_box_tag('q[cuisine_id_eq_any][]', cuisine.id, (true if @q.cuisine_id_eq_any.try(:include?, cuisine.id))) %>
               <%= cuisine.name %>
            </li>
            </label>
          <% end %>
        </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/dishes" class="btn btn-secondary btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-secondary btn-block mb-1" data-toggle="collapse" href="#dishes_filters">
      Show Filters
    </a>
  </div>

  <div class="col-md-6 col-md-offset-3">
    <table class="table table-striped table-hover">
      <tr>
        <th>The very best...</th>
        <th>Is at...</th>
        <th></th>
        <th></th>
        
      </tr>

      <% @dishes.each do |dish| %>
      <tr>

        <td>
          <a  href="/dishes/<%= dish.id %>"><%= dish.name %></a>
        </td>
        
        <% if current_user.dishes.exists?(dish.id) %>
        <% ven = current_user.bookmarks.where("dish_id=?",dish.id).pluck(:venue_id) %>
        <td>
          <!-- This method of gettint the venue name is REALLY poor practice, and we should fix it if we have time.-->
          <a href="/venues/<%= ven.to_s.gsub(']','').gsub('[','').to_i %>"><%= Venue.find(ven).pluck(:name).to_s.gsub('"','').gsub(']','').gsub('[','') %></a>
        </td>

        <% else %>
        
        <td>
          <form action="/create_bookmark" class="form-inline" method="post">
            <%= select_tag("venue_id", options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control form-control-sm mr-sm-1",:prompt => 'Choose a venue...') %>
            <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
            <input type="hidden" name="dish_id" value="<%= dish.id %>">
            <input type="hidden" name="user_id" value="<%= current_user.id %>">
            <button class="btn btn-primary btn-sm">
              <i class="fa fa-heart"></i>
            </button>
          </form>
        </td>
        <% end %>
        <td class="text-right">
          <!-- We may want to eliminate this link unless it goes somewhere useful. -->
          <% if dish.cuisine.present? %>
            <span class="badge badge-primary">
              <%= dish.cuisine.name %>
            </span>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @dishes, theme: 'twitter-bootstrap-4' %>
  </div>

  <div class="col-md-3">
    <a href="/venues/new" class="btn btn-default btn-success btn-block">New Venue</a>
  </div>

</div>